---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Layout from '@layouts/Layout.astro';
import JobSection from '@components/JobSection.astro';
import binary from '../img/binary.jpg';
import qbImg from '../img/index-quickbase.jpg';
import ciruitImg from '../img/index-circuits.jpg';
import zImg from '../img/index-ibmz.jpg';
import map from '../img/map.png';

const jobHistory = [
  {
    "title": "QuickBase",
    "titleUrl": "https://www.quickbase.com/",
    "img": qbImg,
    "imgAlt": "QuickBase Dashboard Image",
    "p": [
      "I spent several years building a sales management system for a small business that runs industrial & construction vehicle dealerships. The system is built on the QuickBase low code platform.",
      "This platform provides a graphical interface for SQL like tables. I designed all the tables as well as the forms used for record operations. I also build HTML and JavaScript applications to display data from a record as a printable business form."
    ]
  },
  {
    "title": "Circuit Simulation",
    "img": ciruitImg,
    "imgAlt": "Circuit Simulation Image",
    "p": [
      "For a couple of years, I worked for a consulting organization at IBM that provided circuit design and simulation services.",
      "One of the projects I worked on was to build an application to automate circuit simulations to characterize the performance for best- and worst-case scenarios.",
      "Another project was to build a logical simulator for a circuit design to prove its functionality. This was needed because an electrical simulation for one input would take over 12 hours, while my logical simulator could run in under a minute."
    ]
  },
  {
    "title": "z/OS Language Environment",
    "titleUrl": "https://www.ibm.com/docs/en/zos-basic-skills?topic=zos-what-is-language-environment",
    "img": zImg,
    "imgAlt": "IBM Mainframe Image",
    "p": [
      "I stared my career working on the z/OS mainframe operating system at IBM. I performed roles in both technical support and development.",
      "My work was connected to the Language Environment component, which provides support for programming languages. I was specifically working with support for C and C++.",
      "Much of my work during this time was centered around migrations. In technical support I was helping customers migrate their applications to libraries that had Y2k support. In development I was updating libraries to take full advantage of 64-bit hardware."
    ]
  }
];

const locations = [
	'Miami / Ft Lauderdale',
  'West Palm Beach',
  'Tampa / St. Petersburg',
  'Orlando',
  'Fully Remote'
];

---

<Layout title="Welcome to Astro." description="Home page">
	<section class="h-[23rem] w-full grid bg-black">
		<Image
			src={binary}
			widths={[750, 1080, 1366, binary.width]}
			sizes="100vw"
			loading="eager"
			alt=""
			class="row-start-1 col-start-1 object-cover object-bottom h-full w-full opacity-20"
		/>
		<div class="row-start-1 col-start-1 grid place-items-center text-secondary-100">
			<div class="text-center">
				<h3 class="text-5xl font-semibold">Daniel Burkhardt</h3>
				<h4 class="text-4xl">Software Engineer</h4>
				<h4 class="text-4xl">Javascript - Python</h4>
			</div>
		</div>
	</section>
	<main id="#mainContent" tabindex="-1">
		<section class="flex flex-col items-center pt-8 pb-4">
      <h1 class="text-5xl">Welcome to Astro</h1>
      <p class="text-base max-w-prose my-4">
        I am a Software Engineer with years of experience developing software 
            for a wide variety of applications.
      </p>
      <p class="text-base max-w-prose my-4">
        Recently I have been working on front-end and back-end web development projects using 
            JavaScript & Python. Some of the back-end projects run on AWS, taking advantage of Lambda 
            & API Gateway.
      </p>
    </section>
		{jobHistory.map((job, index) => (
      <JobSection
        title={job.title}
        titleUrl={job.titleUrl ? job.titleUrl : ''}
        img={job.img}
        imgAlt={job.imgAlt}
        p={job.p}
        index={index}
      />
    ))}
    <section class="flex flex-col items-center w-full py-4 px-[min(2vw,2em)]">
      <Image
		  	src={map}
		  	width="300"
        height="300"
		  	densities={[1, 1.5, 2]}
		  	alt="Map of Florida with Pin in Broward County"
		  	class="mt-4 mb-2"
		  />
      <p class="my-4 mx-auto text-base">I currently reside in southern Broward County Florida.</p>
      <p class="my-4 mx-auto text-base">I am open to opportunities in the following locations:</p>
      <ul class="list-none pb-4 text-base">
        {locations.map(loc => (
        <li class="flex justify-start items-center text-left w-full py-1 px-4">
          <div class="pr-4 dark:text-secondary-300 text-secondary-900">
            <Icon name="ic:outline-place" aria-hidden="true" focusable="false" class="w-6 h-6"/>
          </div>
          <div>{loc}</div>
        </li>
        ))}
      </ul>
    </section>
	</main>

</Layout>


