---
import type { flatContribution } from '@data/contribs';

interface Props {
	repo: flatContribution;
}

const { repo: {description, issues, name, prs, stargazerCount, stargazerPrint, url} } = Astro.props;
---

<li class="dark:bg-ebony-clay-950 bg-blue-ribbon-200 rounded-lg py-2 px-2">
	<div class="flex justify-center flex-col">
		<h2 class="text-center text-3xl font-bold">{name}</h2>
		<div class="text-2xl flex flex-row justify-between items-center gap-2 lg:min-h-[4.5rem]">
			<div class="flex">
				<span class="iconify ic--round-star-outline block self-center text-4xl" aria-hidden="true"></span>
				<div aria-hidden="true" class="self-center">{stargazerPrint}</div>
				<div class="sr-only">{`${stargazerCount} Stars`}</div>
			</div>
			<p class="hidden lg:block text-base font-bold text-center dark:text-ebony-clay-400 text-blue-ribbon-900">
				{description}
			</p>
			<a href={url} class="dark:hover:text-ebony-clay-300 hover:text-ebony-clay-500" target="_blank" rel="noreferrer noopener">
				<span class="iconify ic--baseline-link block self-center text-4xl" aria-hidden="true"></span>
				<span class="sr-only">{`link to ${name} repo`}</span>
			</a>
		</div>
		<p class="lg:hidden text-center dark:text-ebony-clay-400 text-ebony-clay-800">
			{description}
		</p>
	</div>
	{prs.length > 0 ? 
		<div class="pt-4">
			<h3 class="text-center text-xl font-medium">Pull Requests</h3>
			{prs.map(p => (
				<p class="py-2 lg:py-0 w-fit">
					<a href={p.url} target="_blank" rel="noreferrer noopener"
						class="hover:underline dark:hover:text-ebony-clay-300 hover:text-ebony-clay-500 underline-offset-2"
					>{p.title}</a>
				</p>
			))}
		</div> : null
	}
	{issues.length > 0 ? 
		<div class="pt-4">
			<h3 class="text-center text-xl font-medium">Issues</h3>
			{issues.map(i => (
				<p class="py-2 lg:py-0 w-fit">
					<a href={i.url} target="_blank" rel="noreferrer noopener"
						class="hover:underline dark:hover:text-ebony-clay-300 hover:text-ebony-clay-500 underline-offset-2"
					>{i.title}</a>
				</p>
			))}
		</div> : null
	}
</li>
