---
import { Image } from 'astro:assets';

interface Props {
  title: string,
  titleUrl: string,
  img: ImageMetadata,
  imgAlt: string,
  p: string[],
  index: number
}

const {title, titleUrl, img, imgAlt, p, index} = Astro.props;

const indexClass = index % 2 === 0 ? "flex-row dark:bg-blue-ribbon-950 bg-blue-ribbon-200" : "flex-row-reverse"

---
<section class={`flex items-center w-full justify-around min-h-[350px] py-4 px-[min(2vw,2em)] ${indexClass}`} >
  <div class="w-[300px] hidden min-[900px]:block">
    <Image
			src={img}
			width="300"
			densities={[1, 1.5, 2]}
			alt={imgAlt}
			quality="mid"
		/>
  </div>
  <div class="px-4">
    {
      titleUrl ? 
      <a href={titleUrl} target="_blank" rel="noreferrer noopener"
        class="no-underline"
      >
        <h2 class="text-4xl text-center dark:text-blue-ribbon-200 text-blue-ribbon-800 hover:underline">{title}</h2>
      </a> :
      <h2 class="text-4xl text-center dark:text-blue-ribbon-300 text-blue-ribbon-900">{title}</h2>
    }
    {
      p.map((pg) => (
        <p class="max-w-prose text-base my-4 mx-auto">{pg}</p>
      ))
    }
  </div>
</section>