---
interface Props {
  currentPage: number;
  lastPage: number;
  base: string;
}

const {base, currentPage, lastPage} = Astro.props;
const range = Array.from({length: lastPage}, (_v, i) => i+1)

---
<nav class="py-8" aria-label="pagination navigation">
  <ul class="list-none flex gap-4 justify-center font-medium">
    {range.map(pg => (
      pg === currentPage ?
      <li class="rounded-full dark:bg-primary-950 bg-primary-200">
        <a class="leading-[3.5rem] py-[1.125rem] px-6" aria-current="true" tabindex="0" aria-label={`page ${pg}`} href={`${base}${pg}/`}>{pg}</a>
      </li> :
      <li class="rounded-full hover:dark:bg-primary-950/50 hover:bg-primary-200/50">
        <a class="leading-[3.5rem] py-[1.125rem] px-6" tabindex="0" aria-label={`go to page ${pg}`} href={`${base}${pg}/`}>{pg}</a>
      </li>
    ))}
  </ul>
</nav>