---
import NavBar from '@components/NavBar.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="author" content="Daniel Burkhardt" />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta name="description" content={description} />
		<meta name="og:description" content={description} />
		<meta property="og:url" content="https://dan-mba.github.io/" />
		<meta property="og:type" content="website" />
		
		<meta property="og:image" content="/gatsby-ogimg.png" />
		<meta property="og:image:width" content="1280" />
		<meta property="og:image:height" content="640" />
		<meta property="og:image:alt" content="Screenshot of Daniel Burkhardt's Portfolio Website" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="msapplication-config" content="/browserconfig.xml" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/fonts/Damion-Dan.woff2">
	</head>
	<body class="dark:bg-primary-900 dark:text-primary-300 bg-neutral-200 text-neutral-800
		outline-secondary-500"
	>
		<NavBar />
		<slot />
	</body>
</html>
<style is:global>
@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Damion-Dan.woff2) format('woff2');
}

html {
	box-sizing: border-box;
}
</style>
